.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 10px; 
  padding: 16px 8px 16px 8px;
  margin: 16px 8px 16px 8px;
  background-color: rgb(235, 236, 240);
}

.list {
  border-radius: 10px;
  overflow-y: auto;
  height: 100%;
}
